# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
pipenv.lock

# Ignore Flask cache & logs
instance/
*.log

# Ignore Node modules
node_modules/
npm-debug.log
yarn-error.log
.yarn/

# Ignore build files
build/
*.cache
*.parcel-cache
*.next/

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore MacOS system files
.DS_Store

# Ignore VS Code settings
.vscode/
.history/

# Ignore Python virtual environments (if not using pipenv)
.venv/
.vercel
